@import 'tailwindcss';

:root {
  --background: #f8f8f8;
  --foreground: #171717;
  --primary: #1ed661;
  --primary-foreground: #0a0a0a;
  --primary-hover: #3feb7a;
  --black-active: #404040;
  --white-active: #ededed;
  --grad-1: #2563eb;
  --grad-2: #d83af0;
  --grad-3: #f43f5e;
  --grad-1-dark: #4479eb;
  --grad-2-dark: #e490f1;
  --grad-3-dark: #f4637c;
  --header-grad: #f2f2f2;
  --secondary-text: #666666;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary-hover: var(--primary-hover);
  --color-black-active: var(--black-active);
  --color-white-active: var(--white-active);
  --color-grad-1: var(--grad-1);
  --color-grad-2: var(--grad-2);
  --color-grad-3: var(--grad-3);
  --color-grad-1-dark: var(--grad-1-dark);
  --color-grad-2-dark: var(--grad-2-dark);
  --color-grad-3-dark: var(--grad-3-dark);
  --color-secondary-text: var(--secondary-text);
  --color-header-grad: var(--header-grad);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #1ed661;
    --primary-foreground: #0a0a0a;
    --primary-hover: #3feb7a;
    --secondary-text: #a1a1a1;
    --header-grad: #0a0a0a;
    --white-active: #404040;
    --black-active: #e5e5e5;
  }
}

.font-corben {
  font-family: var(--font-corben), serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist', Helvetica, Arial, sans-serif;
}

.btn {
  @apply cursor-pointer font-bold transition-colors duration-300;
}

.sign-in-btn img {
  content: url('/spotify/spotify-green.png');
}

.desktop-header-item {
  @apply text-secondary-text hover:text-foreground hover:bg-white-active rounded-full px-2 py-1 duration-300;
}

.header-dropdown-item {
  @apply hover:text-foreground block w-full cursor-pointer px-4 py-2 text-left text-gray-800 duration-300 hover:bg-neutral-100 active:bg-neutral-100 dark:text-neutral-200 dark:hover:bg-neutral-800 dark:active:bg-neutral-800;
}

@media (prefers-color-scheme: dark) {
  .sign-in-btn img {
    content: url('/spotify/spotify-black.png');
  }
}

@custom-variant dark (&:where(.dark, .dark *));
